header,nav,aside,main,footer,article{
    border: 0.5px solid black;
    padding: 5px;
    margin: 5px;
}
body{
    display: grid;
    grid-template-areas: 
    "n n n n n"
    "h h h h h"
    "a a a ha v"
    "f f f f f";
}
.haus{
    grid-area: h;
}
.valstika{
    grid-area: n;
}
.vinstri{
    grid-area: v;
}
.adal{
    grid-area: a;
}
.haegri{
    grid-area: ha;
}
.fotur{
    grid-area: f;
}
h1{
    color: silver;
}
.hlekkir{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 4em;
}
header{
    text-align:center;
    font-family: fantasy;
}
a:visited{color: red;
}
a:hover{
    color: plum;
}
a:active{color: blue;
}