@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background: linear-gradient(navy,darkblue,blue);
    font-family:"Open Sans";
    margin: 0;
}
.texti{
    width: 70%;
    margin: 0 auto;
}
.pila{
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 2em;
    background: blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
}
.yfir:hover{
    background: red;
}
.tveirDalkar{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.thrirDalkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thrirDalkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.midja{
    background: linear-gradient(#F7D37E, whitesmoke);
    opacity: 0.8;
    padding: 5px;
    margin: 0;
}
.ofugMidja{
    background: linear-gradient(whitesmoke,#F7D37E );
    opacity: 0.8;
    padding: 5px;
    margin: 0;
}
.hvitur{
    color: white;
}
.hofud{
    margin-top: 50px;
    margin-bottom: 25px;
}
.vinstri{
    margin-right: 10px;
}
.verkefni{
    text-align: right;
    padding: 0 40px 40px 0; 
}

.topnav{
    text-align: right;
    padding: 0 40px 0 0; 

}

.topnav a{
    margin: 0 0 0 20px;
}
.nidur{
    margin-top: 25px;
    margin-bottom: 25px;
}
a{color:white;
}
.valstika{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr 2fr;
    background: darkblue;
    padding: 10px;
    margin-top: 20px;
    border-right: white;
}
.hvitlina{
    border-right:1px solid white;
    margin-right: 1em;
}