@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(navy,blue);
    font-family: "Open Sans";
}
.midja{
    background: linear-gradient(#F7D37E, whitesmoke);
    opacity: 0.8;
}
.texti{
    width: 70%;
    margin: 0 auto;
}
.tveirDalkar{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.thrirDalkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hvitur{
    color: white;
}
a:visited{color:white;
}
blockquote{
    background: rgba(255,255,255,0.3);
    padding: 1em 1em 1em 3em;
    margin: 0;
}
.hofud{
    margin-top: 50px;
    margin-bottom: 25px;
}
.vinstri{
    margin-right: 10px;
}
.verkefni{
    text-align: right;
    padding: 0 40px 40px 0; 
}

.topnav{
    text-align: right;
    padding: 0 40px 0 0; 

}

.topnav a{
    margin: 0 0 0 20px;
}
.nidur{
    margin-top: 25px;
    margin-bottom: 25px;
}